/* =================================
   RESPONSIVE STYLES
================================= */


/* =================================
   TABLET & MOBILE
================================= */

@media (max-width: 900px) {

    .main-nav,
    .header-booking {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .mobile-nav {
        display: flex;
    }

}
